# always use LF line endings

# ALL FILES:
#   Normalize line endings to LF on checkin and
#   prevent conversion to CRLF when the file is checked out.

* text eol=lf


# BINARY FILES:
#   Disable line ending normalize on checkin.

*.blend binary

*.bin binary
*.bmp binary
*.eps binary
*.exe binary
*.gif binary
*.jar binary
*.jpg binary
*.mng binary
*.png binary
*.zip binary
*.otf binary
*.ttf binary

