/* RESET ***/
html{box-sizing:border-box;font-size:12pt}body,h1,h2,h3,h4,h5,h6,ol,p,ul{margin:0;padding:0}img{max-width:100%;height:auto}table{table-collapse:collapse;table-spacing:0;border-spacing:0}

/* BODY ***/
body {
  /* Must be bundled in JAR file. */
  font-family: "Vollkorn", serif;
  background-color: #fff;
  margin: 0 auto;
  max-width: 960px;
  line-height: 1.6;
  color: #454545;
  padding: 1em;
  font-feature-settings: "liga" 1;
  font-variant-ligatures: normal;
}

body>*:first-child {
  margin-top: 0 !important;
}

body>*:last-child {
  margin-bottom: 0 !important;
}

#caret {
  background: #fcfeff;
}

p, blockquote, ul, ol, dl, table, pre {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 1em 0 .5em;
}

h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code,
h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

h1 {
  font-size: 21pt;
}

h2 {
  font-size: 18pt;
  border-bottom: 1px solid #ccc;
}

h3 {
  font-size: 15pt;
}

h4 {
  font-size: 13.5pt;
}

h5 {
  font-size: 12pt;
}

h6 {
  font-size: 10.5pt;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
  margin-top: .5em;
}

/* LINKS ***/
a {
  color: #0077aa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* BULLET LISTS ***/
ul, ol {
  display: block;
  list-style: disc outside none;
  margin: 1em 0;
  padding: 0 0 0 2em;
}

ol {
  list-style-type: decimal;
}

ul ul, ol ul,
ol ol, ul ol {
  list-style-position: inside;
  margin-left: 1em;
}

ul ul, ol ul {
  list-style-type: circle;
}

ol ol, ul ol {
  list-style-type: lower-latin;
}

/* DEFINITION LISTS ***/
dl {
  /** Horizontal scroll bar will appear if set to 100%. */
  width: 99%;
  overflow: hidden;
  padding-left: 1em;
}

dl dt {
  font-weight: bold;
  float: left;
  width: 20%;
  clear: both;
  position: relative;
}

dl dd {
  float: right;
  width: 79%;
  padding-bottom: .5em;
  margin-left: 0;
}

pre, code, tt {
  /* Must be bundled in JAR file. */
  font-family: "Fira Code", monospace;
  font-size: 10pt;
  background-color: #f8f8f8;
  text-decoration: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  border-radius: .125em;
}

code, tt {
  padding: .25em;
}

pre > code {
  padding: 0;
  border: none;
  background: transparent;
}

pre {
  border: .125em solid #ccc;
  overflow: auto;
  padding: .25em .5em;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}

blockquote {
  border-left: .25em solid #ccc;
  padding: 0 1em;
  color: #777;
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

hr {
  clear: both;
  margin: 1.5em 0 1.5em;
  height: 0;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: .125em solid #ccc;
}

table {
  width: 100%;
}

tr:nth-child(odd) {
  background-color: #eee;
}

th {
  background-color: #454545;
  color: #fff;
}

th, td {
  text-align: left;
  padding: 0 1em;
}

img {
  max-width: 100%;

  /**
   * Required for FlyingSaucer to treat images
   * as block elements. See SvhReplacedElementFactory
   * for details.
   */
  display: inline-block;
}

/* Required for FlyingSaucer to detect the node.
 * See SvhReplacedElementFactory for details.
 */
tex {
  /* Ensure the formulas can be inlined with text. */
  display: inline-block;
}

/* Without a robust typesetting engine, there's no
 * nice-looking way to automatically typeset equations.
 * Sometimes baseline is appropriate, sometimes the
 * descender must be considered, and sometimes vertical
 * alignment to the middle looks best.
 */
p tex {
  vertical-align: baseline;
}
