RewriteEngine On

# Exclude existing files and directories from the rewrite rule.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite requests for valid file extensions.
#RewriteRule ^(.+\.(zip|app|bin|exe|jar))$ /downloads/download.php?filename=$1 [L]

RewriteRule ^(.+\.(zip|app|bin|exe|jar))$ download.php?filename=$1 [L]

