/* Copyright 2020 White Magic Software, Ltd. -- All rights reserved. */

.markdown {
  -fx-font-family: 'Noto Sans';
  -fx-font-size: 11pt;
  -fx-padding: .25em;
}

/* Editor background color */
.styled-text-area {
  -fx-background-color: -fx-control-inner-background;
}

/* Text foreground colour */
.styled-text-area .text {
  -fx-fill: -fx-text-foreground;
}

/* Subtly highlight the current paragraph. */
.markdown .paragraph-box:has-caret {
  -fx-background-color: -fx-text-background;
}

/* Light colour for selection highlight. */
.markdown .selection {
  -fx-fill: -fx-text-selection;
}

/* Decoration for words not found in the lexicon. */
.markdown .spelling {
  -rtfx-underline-color: rgba( 255, 131, 67, .7 );
  -rtfx-underline-dash-array: 4, 2;
  -rtfx-underline-width: 2;
  -rtfx-underline-cap: round;
}

.markdown .search {
  -rtfx-background-color: #ffe959;
}
